@tailwind base;


@font-face {
  font-family: 'Walzhari';
  font-style: normal;
  font-weight: normal;
  src: local('CAT Walzhari Regular'), url('./fonts/Catwalzhari.woff') format('woff');
}


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jost:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kavivanar&family=Kurale&display=swap');


html {
  touch-action: manipulation;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  background-color: #5b1d5e ;
  background-image: url("~rug.png");
}

a,
button,
input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
button:focus {
  outline: 0;
}

@tailwind components;

@tailwind utilities;


.hand {
  width: 90%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(0px, max-content)) ;
  grid-template-rows: 100%;
}

.imageContainer {
  
  height: 100%;
}

.imageContainer div{
  border-width: 0.25rem;
}

.hand .imageContainer {
  /* height: 25vh;   */
  /* grid-row: 100%; */
  /* margin-left: calc(-3rem + 3vw); */
  /* transform: rotate(-3deg); */
  transform: rotate(-3deg);

}


.you .imageContainer {
  transition: all 0.1s ease-in-out;
}
.you .imageContainer:hover {
  grid-column: span 5;
  z-index: 999;
  transform: scale(1.5) translateY(-15%);
}

.imageContainer img {
  box-shadow: 2px 2px 5px #000000b0;

  display: block;
  max-width: none;
  height: 100%;
}
.imageContainer img.insane   {
  transform: rotate(-180deg);
}





.imageContainer div {
  position: relative;
  display: inline-block;
  height: 100%;
}
.imageContainer span.name  {
  font-size: 14pt;

  text-align: center;
  /* color: #000; */
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;

  /* padding: 10%; */
  /* width: 80%;  */
  background: #f5e7caD0;
  /* background: rgb(217, 119, 6);
  background: linear-gradient(0deg, rgba(217, 119, 6,1) 50%, rgba(217, 119, 6,0) 100%);  */
}
.imageContainer span.text  {
  font-family: 'Kurale', 'Jost', 'Comic Sans MS', 'Calibri';
  font-weight: 600;
  font-size: 10px;
  line-height: 0.9em;


  text-align: left;
  /* color: #000; */
  position: absolute;
  left: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  padding: 10%;
  /* width: 100%;  */
  background: #f5e7caD0;
  /* background: linear-gradient(0deg, #f5e7caFF 50%, #f5e7ca00 100%);  */
}

.imageContainer span.text  hr {
  border-top: 1px solid rgb(26, 32, 44, 0.75);
  margin: 0.4em;
}


.imageContainer span.cost  {
  text-align: left;
  /* color: #000; */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 0.5em;
  padding-bottom: 0.1em;
  width: 100%; 
}
.playerStats div {
  text-shadow: 2px 2px 5px #000000b0;
  height: 25%;
}